---
Language:       Cpp
BasedOnStyle:   LLVM
IndentWidth: 4
ColumnLimit: 120
AlignAfterOpenBracket: Align
AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
AlignConsecutiveAssignments: true
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterStruct: true
  AfterEnum: true
  AfterFunction: true
PointerAlignment: Left
ReferenceAlignment: Pointer
AccessModifierOffset: -4
...
